*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;    
}

header{
    background-color: whitesmoke;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
    gap: 30px;
}

.nav-items nav{
    display: flex;
    gap: 60px;
}

.nav-items nav a{
    color: black;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
}

.nav-items nav a:hover{
    color: black;
    text-decoration: none;
    transform: scale(1.2);
}

.hero-content{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    flex-direction: column;
}

.hero-content h1{
    font-size: 50px;
}

.hero-container p{
    margin-top: 8px;
    font-size: 19px;
}

.row{
    margin-top: 40px;
}

.row h3{
    font-size: 22px;
}
